.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
  background-color: #f7f7f7;
  padding-top: 64px;
}

html {
  overflow-y: scroll;
}

.fade.hidden {
  opacity: 0;
}

.loading {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 45vh;
}

.loading.hidden {
  display: none;
}

.wrapper {
  padding: 0 1rem 0 1.6rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

a:hover {
  text-decoration: underline;
}

article a, footer a {
  color: rgba(0, 85, 34, 0.84);
  text-decoration: underline;
}

h1, h2, h3, h4, blockquote {
  color: rgba(0, 0, 0, 0.84);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: .5rem;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h1, h2, h3, h4, blockquote {
    font-weight: 300;
  }
}

img, video {
  width: 100%;
  display: block;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f7f7f7;
}

header .inner {
  margin: .5rem auto;
  padding: 0.5rem 5px 0.5rem 0;
}

header .inner img.logo {
  height: 2rem;
  float: left;
  width: auto;
  opacity: .85;
  margin-left: -.1rem;
}

header .inner nav {
  float: right;
}

header .inner nav a {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.1rem;
  padding-bottom: .2rem;
}

header .inner nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.85);
}

.width {
  max-width: 1005px;
}

@media (max-width: 1064px) {
  .width {
    max-width: 800px;
  }
}

@media (max-width: 859px) {
  .width {
    max-width: 600px;
  }
}

#page .grid {
  margin-top: 1rem;
}

.grid {
  margin: 0 auto;
  position: relative;
}

.grid > * {
  width: 50%;
  padding: 0 5px 5px 0;
}

.grid > p,
.grid .text {
  padding: 1.5em;
}

.grid > p:first-child,
.grid .text:first-child {
  padding-top: 5px;
}

.grid > p h1:first-child,
.grid .text h1:first-child {
  margin-top: 0;
}

.grid > p p,
.grid .text p {
  margin-bottom: 1rem;
}

.grid .col-8 {
  width: 100%;
}

.grid .col-7 {
  width: 87.5%;
}

.grid .col-6 {
  width: 75%;
}

.grid .col-5 {
  width: 62.5%;
}

.grid .col-4 {
  width: 50%;
}

.grid .col-3 {
  width: 37.5%;
}

.grid .col-2 {
  width: 25%;
}

.grid .col-1 {
  width: 12.5%;
}

.grid .align-left, .grid .a-l {
  padding-left: 0;
}

.grid .align-right, .grid .a-r {
  padding-right: 5px;
}

.grid a.permalink {
  display: block;
  width: 100%;
  position: relative;
}

.grid .thumb {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.grid .thumb .description {
  width: 100%;
  padding: 1rem;
}

.grid .grid-sizer {
  width: 12.5%;
}

@media (max-width: 859px) {
  .grid > * {
    width: 100% !important;
    padding: 0 5px 5px 0 !important;
  }
}

.grid > .portfolio-item {
  padding: 0 !important;
}

.grid hr {
  width: 100%;
  padding: 0 !important;
  border: none;
}

.grid div img, .grid div video {
  margin-bottom: 5px;
}

.grid div img:last-child {
  margin-bottom: 0;
}

.grid div.thumb {
  overflow: hidden;
}

.grid .spacer {
  padding: 0 !important;
  height: .1px;
}

footer {
  padding: 2rem 0;
}

footer p {
  padding: 0 5px 5px 0;
  margin: 0 auto;
}

.more-space > p, .more-space h1 {
  margin-bottom: 2rem !important;
}

.grayscale {
  filter: grayscale(100%);
}

.hide {
  display: none;
}

/*! http://responsiveslides.com v1.55 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #EFEFEF;
}

.rslides_nav {
  position: absolute;
  width: 35%;
  bottom: 5px;
  top: 0;
  z-index: 666;
  opacity: 0;
  transition: .2s ease opacity;
}

.rslides_nav.next {
  right: 5px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.rslides_nav.next:hover {
  opacity: 1;
}

.rslides_nav.prev {
  left: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.rslides_nav.prev:hover {
  opacity: 1;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
