$gutter: 5px;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
	font-family: 'Object Sans Web';
	src: url('fonts/ObjectSans-Thin.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Object Sans Web';
	src: url('fonts/ObjectSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Object Sans Web';
	src: url('fonts/ObjectSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Object Sans Web';
	src: url('fonts/ObjectSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('fonts/Graphik-Thin.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('fonts/Graphik-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('fonts/Graphik-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Graphik Web';
	src: url('fonts/Graphik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


// Main styles


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}
body {
  font-family: "Graphik Web", sans-serif;
  font-size: 20px;
  @media (max-width: 1240px){
    font-size: 18px;
  }
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0,0,0,.55);
  background-color: hsl(33, 5%, 97%);
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    font-weight: 300;
  }
  padding-top: calc(72px);
}
html {
  overflow-y: scroll;
}
.fade {
  transition: .3s ease opacity;
}
.fade.hidden {
  opacity: 0;
}
.wrapper {
  padding: 0 1rem 0 1.6rem;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,.84);
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, blockquote {
  color: rgba(0,0,0,.84);
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: .5rem;
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    font-weight: 300;
  }
}
blockquote {
  font-size: 1.3em;
}
img, video {
  width: 100%;
  display: block;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: hsl(33, 5%, 97%);
  .inner {
    margin: .5rem auto;
    padding: .5rem $gutter .5rem 0;
    img.logo {
      height: 2.5rem;
      float: left;
      width: auto;
      opacity: .85;
      margin-left: -.1rem;
    }
    nav {
      float: right;
      a {
        display: inline-block;
        margin-left: 2rem;
        padding-top: 0.1rem;
        padding-bottom: .2rem;
      }
      a:hover {
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,.85);
      }
    }
  }
}
.width {
  max-width: 1410px;
  @media(max-width: 1440px) {
    max-width: 1200px;
  }
  @media(max-width: 1240px) {
    max-width: 800px;
  }
}
.grid {
  margin: 0 auto;
  position: relative;
  & > * {
    width: 50%;
    padding: 0 $gutter $gutter 0;
  }
  & > p,
  .text {
    padding: 1.5em;
    &:first-child {
      padding-top: $gutter;
    }
    h1:first-child { 
      margin-top: 0;
    }
    p {
      margin-bottom: 1rem;
    }
  }
  .col-8 {
    width: 100%;
  }
  .col-7 {
    width: 87.5%;
  }
  .col-6 {
    width: 75%;
  }
  .col-5 {
    width: 62.5%;
  }
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 37.5%;
  }
  .col-2 {
    width: 25%;
  }
  .col-1 {
    width: 12.5%;
  }
  .align-left, .a-l {
    padding-left: 0;
  }
  .align-right, .a-r {
    padding-right: $gutter;
  }
  .fix-2-1 {
    a {
      padding-bottom: 50%;
    }
  }
  .fix-1-1 {
    a {
      padding-bottom: 100%;
    }
  }
  .fix-1-2 {
    a {
      padding-bottom: 200%;
    }
  }
  a.permalink {
    display: block;
    width: 100%;
    position: relative;
  }
  .thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: $gutter;
    bottom: $gutter;
    //width: 100%;
    //height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.3);
    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 1rem;
      //padding-top: 2rem;
      color: white;
      //background: linear-gradient(0deg, rgba(0,0,0,0.26514355742296913) 0%, rgba(0,0,0,0) 100%);
    }
  }
  .grid-sizer {
    width: 12.5%;
  }
  @media(max-width: 840px) {
    & > * {
      width: 100% !important;
      padding: 0 $gutter $gutter 0 !important;
    }
  }
  & > .portfolio-item {
    padding: 0 !important;
  }
  hr {
    width: 100%;
    padding: 0 !important;
    border: none;
  }
  div {
    img {
      margin-bottom: $gutter;
    }
    img:last-child {
      margin-bottom: 0;
    }
  }
  div.thumb {
    overflow: hidden;
  }
  .spacer {
    padding: 0 !important;
    height: .1px;
  }
}

footer {
  padding: 2rem 0;
  p {
    padding: 0 $gutter $gutter 0;
    margin: 0 auto;
  }
}
.more-space {
  & > p, h1 {
    margin-bottom: 2rem !important;

  }
}
.grayscale {
  filter: grayscale(100%);
}
