---
---

{% include head.html %}
<body id="front-page">
{% include header.html %}

<div id="slides">
  <a class="slide" href="/revolve-waterbottle">
    <span class="animate down" style="background-image: url(/img/slideshow/fles-hero-image.jpg)"></span>
    <div class="static-content"><h1 >Revolve Waterbottle | 2017</h1></div>
  </a>
  <a class="slide" href="/lunchbox">
    <span class="animate left" style="background-image: url(/img/slideshow/lunchbox-hero.jpg)"></span>
    <div class="static-content"><h1>Lunchbox: Like Tableware | 2017</h1></div>
  </a>
  <a class="slide" href="/salad-shaker">
    <span class="animate down" style="background-image: url(/img/slideshow/salad-shaker-hero.jpg)"></span>
    <div class="static-content"><h1>Salad Shaker | 2017</h1></div>
  </a>
  <a class="slide" href="/bike-basket">
    <span class="animate left" style="background-image: url(/img/slideshow/bike-basket-01.jpg)"></span>
    <div class="static-content"><h1 class="dark-background">Bike Basket | 2016</h1></div>
  </a>
  <a class="slide" href="/arduino-midi-controller">
    <span class="animate right" style="background-image: url(/img/portfolio/midi-controller.jpg)"></span>
    <div class="static-content"><h1>MIDI Controller | 2018</h1></div>
  </a>
  <a class="slide" target="_blank" href="/chair-x-1">
    <span class="animate left" style="background-image: url(/img/slideshow/chair-x-1.jpg)"></span>
    <div class="static-content"><h1>Chair X-1 | 2019</h1></div>
  </a>
</div>

<script src="{{ site.baseurl }}/js/jquery.subtle-slideshow.js"></script>
<script>$('#slides').slideshow({
  slideDuration: 7000
});</script>

{% include footer.html %}
