

<footer>
    <p class="width">Stijn van Cuijk — Umeå, 2020 — <a href="mailto:contact@stijn.vc">contact@stijn.vc</a></p>
</footer>

<script>


        $(document).ready(function(){
          var $grid = $('.grid').masonry({
            itemSelector: '.grid > *',
            percentPosition: true,
            columnWidth: '.grid-sizer',
            transitionDuration: 0
          });
          // layout Masonry after each image loads
          $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
            $(".grid").fitVids();
            $('.fade').removeClass('hidden');
            $('.loading').addClass('hidden');
          });

        });

    </script>
</body>
</html>
