<header class="clearfix top">
  <div class=" wrapper">
    <div class="flex-container">
      <div class="noselect title flex-item">
        <a href="{{ site.baseurl }}/">Stijn van Cuijk</a>
      </div>
      <nav class="noselect flex-item">
        <a class="projects" href="{{ site.baseurl }}/">Projects</a>
        <!-- <a class="blog" href="{{ site.baseurl }}/blog">Blog</a> -->
        <a class="about" href="{{ site.baseurl }}/about">About</a>
      </nav>
    </div>
  </div>
</header>
<div id="size-reference"></div>
