<header class="wrapper noselect">
  <div class="width inner clearfix">
    <a href="{{ site.baseurl }}/">
      <img draggable="false" class="logo light-mode" alt="Stijn van Cuijk" src="{{ site.baseurl }}/img/logo2.svg">
      <img draggable="false" class="logo dark-mode" alt="Stijn van Cuijk" src="{{ site.baseurl }}/img/logo2-white.svg">
    </a>
    <nav>
      <a class="projects" href="{{ site.baseurl }}/">Projects</a>
      <!-- <a class="Ideas" href="{{ site.baseurl }}/ideas">Ideas</a> -->
      <a class="about" href="{{ site.baseurl }}/about">About</a>
    </nav>
  </div>
</header>
