{% include head.html %}
<body id="page">
{% include header.html %}

<div class="wrapper">
<article class="grid width ">
    {{ content }}
    <div class="grid-sizer"></div>
  </article>
  <!-- <div class="PageNavigation clearfix">
    {% if page.previous.url %}
      Previous: <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
    {% if page.previous.url and page.next.url %}<span style="margin: 0 1em">|</span>{% endif %}
    {% if page.next.url %}
      Next: <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
  </div> -->

  {% include footer.html %}
</div>
